<mat-toolbar class="container" color="primary">
  <mat-toolbar-row>
    <span>Welcome to HR Management - {{title}}</span>
    <span class="toolbar-spacer"></span>
    <span>Logout</span>
    <a [routerLink]="[ '/logout']"><mat-icon class="logout-icon">logout</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <button>
      <a [routerLink]="['./employee']" routerLinkActive="active">
        <mat-icon>person</mat-icon>
      </a>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button>
      <a [routerLink]="['./project']" routerLinkActive="active">
        <mat-icon>folder</mat-icon>
      </a>
    </button>
  </mat-grid-tile>

</mat-grid-list>
